/* 
#FAFAFA white
#442B1C brown
*/

$primary-color: #f47b0a;
$secondary-color: #442b1c;
$white: #fafafa;


body,
a {
  color: $secondary-color;
}

.white {
  color: $white;
}

.orange {
  color: $primary-color;
}

header,
  .connect-block,
  .contact-block {
    background-color: $primary-color;
    /*opacity: .95;*/
  }
