/* 
#FAFAFA white
#442B1C brown
*/

$primary-color: #1D6E00;
$secondary-color: #412C10;
$tertiary-color: #EC8805;
$white: #fafafa;

a,
body {
  color: $secondary-color;
}

.white {
  color: $white;
}

.orange {
  color: $primary-color;
}

.connect-block, .contact-block {
  background-color: $secondary-color;
  opacity: .9;
}




@mixin link-hover {
  &{
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: .4rem;
    transition: all .3s;
  }

  &:before {
    content: '';
    position: absolute;
    left: -100%;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    transition: all .3s;
    color: #fff;
  }

  &:after {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    transition: all .5s;
    color: #fff;
  }

  &:hover:before, &:hover:after {
    left: 0;
  }
}