footer {
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
  
  .copyright {
    text-align: left;
    width: 100%;
    font-size: $size-copyright;
    opacity: .5;
  }

  
  li {
    list-style: none;
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    
  }

  .icons {
   

    &__list {
    width: 140px;
    margin: 0 auto;
    }

    li {
      width: 18px;
      min-width: 18px;
      height: 18px;
      margin: 0 2rem 0 0;
      transition: all .25s ease
    }
  }

  .icons li:hover {
    transform: scale(1.2);
  }

  .logob {
    width: 50%;

    img {
      width: 128px;
    }
    
  }


}

@media screen and (min-width: 600px) {
  
  footer {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media screen and (min-width: 950px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
