footer {
  margin-top: 80px;
  margin-bottom: 30px;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;

  .copyright {
    text-align: right;
    width: 100%;
    font-size: $size-copyright;
    opacity: .5;
  }

  
  li {
    list-style: none;
  }
}

@media screen and (min-width: 600px) {
  
  footer {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media screen and (min-width: 950px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
