/* Center body and fix to minimum width */
main {
  min-width: 318px;
  box-sizing: border-box;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: auto;
}

/* Ensures base font size is a factor of 10 for using rems for font sizes */

/* Images will always scale to be no wider than their container */
img {
  max-width: 100%;
}

/* Other mobile (default) styles go here */

.about-block {
  background-color: rgba(0, 128, 0, 0.407);
 
  padding: 8%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);

  &__content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  & #luke {
    margin-bottom: 1em;
  }
}

.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.home-project-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}



.project-list__project {
  min-width: 120px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  transition: all 0.4s ease;

  &:hover {
  box-shadow: 0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075), 0 32px 32px hsl(0deg 0% 0% / 0.075);

    transform: scale(1.02);
  }

  &__img {
    margin-bottom: 1rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    padding: 0 1rem 1.5rem;
  }
}

.hero {
  text-align: left;
  width: 100%;
  margin-top: 0rem;
  margin-bottom: 2rem;
  background-color: $primary-color;
  p {
    font-size: 9.2vw;
    margin-bottom: 4vw;
    font-weight: $weight-reg;
    line-height: 9vw;
    color: white;
  }

}



.latest-projects {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  h2 {
    margin-right: 2.5rem;
  }

}

.see-all-btn{
  display: inline;
  margin-bottom: 2rem;
}


@media screen and (min-width: 600px) {
  
  main {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .hero {
    text-align: left;
    width: 100%;
    margin-top: 0rem;

    p {
      font-size: 7vw;
      margin-bottom: 3vw;
      font-weight: $weight-reg;
      line-height: 7vw;
    }
  
  }

  .project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .home-project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 950px) {
  /* Scale body to new minimum width */
  main {
    min-width: 768px;
    padding-left: 13rem;
    padding-right: 13rem;
  }
  

  .about-block__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    

    &__img {
      width: 35%;
    }

    &__desc {
      width: 55%;
    }
  }
}

@media screen and (min-width: 1200px) {
  /* Scale body to new minimum width */
  main {
    max-width: 1400px;
    margin: 0 auto;
  }
}
  
  /* Other desktop styles */