/* Center body and fix to minimum width */
main {
  min-width: 318px;
  box-sizing: border-box;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-left: auto;
}

/* Ensures base font size is a factor of 10 for using rems for font sizes */
html {
  font-size: 10px;
}

/* Images will always scale to be no wider than their container */
img {
  max-width: 100%;
}

/* Other mobile (default) styles go here */

.about-block {
  background-color: $secondary-color;
  opacity: .9;
  padding: 8%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);

  &__content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  & #luke {
    margin-bottom: 1em;
  }
}



.project-list__project {
  margin-bottom: 2rem;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  transition: all 0.4s ease;

  &:hover {
  box-shadow: 0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075), 0 32px 32px hsl(0deg 0% 0% / 0.075);

    transform: scale(1.02);
  }

  &__img {
    margin-bottom: 2rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  &__text {
    padding: 0 2rem 2rem;
  }
}

.hero {
  position: relative;
  margin-bottom: 6rem;

  &__overlay {
    text-align: center;
    position: absolute;
    height: 0px;
    z-index: 0;
    width: 100%;
    transform: translateY(20rem);
  }

  &__image {
    display: block;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    height: 35rem;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.hero__overlay  p {
  font-size: 10vw;
  margin-bottom: 0vw;
  opacity: .85;
}

.hero__overlay span {
  font-weight: $weight-bold;
  text-transform: uppercase;
}

.hero__overlay img {
  width: 3vw;
}

.hero__overlay .button {
  margin-top: 6vw;
  margin-bottom: 1vw;
  font-size: 4vw;
}

.hero__overlay .button:hover {
  text-decoration: none;
}

.latest-projects {
  display: flex;
  align-items: baseline;
}

.see-all-btn{
  display: inline;
  margin-left: 2.5rem;
}

@media screen and (min-width: 600px) {
  
  .project-list {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .project-list__project {
    width: 48%;
    flex-wrap: wrap;
  }
  .hero__overlay  p {
    font-size: 8vw;
    margin-bottom: 4vw;
  }
  
}

@media screen and (min-width: 950px) {
  /* Scale body to new minimum width */
  main {
    min-width: 768px;
    padding-left: 13rem;
    padding-right: 13rem;

    .project-list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 0 2rem;
      
    }

    .project-list__project {
      width: 31.5%;
      flex-wrap: wrap;
    }
  }
  
  .hero__image {
    display: block;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: 90% 0;
    z-index: -1;
  }
  
  .hero__overlay {
    transform: translateY(40rem);
  }
  

  .about-block__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    

    &__img {
      width: 35%;
    }

    &__desc {
      width: 55%;
    }
  }


  .hero__overlay  p {
    font-size: 6vw;
    margin-bottom: 4vw;
  }
  
  .hero__overlay span {
    font-weight: $weight-bold;
    text-transform: uppercase;
  }
  
  .hero__overlay img {
    width: 2vw;
   
  }

  .hero__overlay .button {
    margin-top: 4vw;
    font-size: 2vw;
  }
}

@media screen and (min-width: 1200px) {
  /* Scale body to new minimum width */
  main {
    min-width: 1200px;
  }

  .hero__overlay {
    transform: translateY(40rem);
  }
  
  .hero__image {
    display: block;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: 90% 0;
    z-index: -1;
  }
  

  .project-list__project {
    width: 40%;
  }

  .project-list {
    gap: 0 2.5rem;
    
  }


  /* Other desktop styles */
}
