@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Literata:opsz,wght@7..72,400;7..72,500&display=swap");
/*
font-family: 'Lato', sans-serif;
font-family: 'Literata', serif;
*/

/* Typography */


button {
  background-color: var(--tertiary-color);
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
}


#details-list ul {
  list-style-type: none;
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px;
}

tr {
  border-bottom: 1px solid var(--primary-color);
}

tr:last-child {
  border-bottom: none;
}

#included-list li {
  padding-top: 5px;
}

.accordion {
  list-style-type: none;
}

.accordion-control {
  background-color: white;
  color: var(--primary-color);
  padding: 5px;
  border-top: solid 1px var(--primary-color);
  border-bottom: solid 1px var(--primary-color);
  border-radius: 0px;
  font-size: var(--h4-size);
  letter-spacing: 2.5px;
  line-height: 30px;
  text-transform: uppercase;
}

.accordion-control {
  border-top: none;
}

.accordion-panel {
  display: none;
}

/* Page Structure */




.container {
  display: flex;
  gap: 30px;
}

.container__imgs {
  width: 40%;
  max-width: 350px;
  gap: 30px;
}

.container__imgs--main {
  margin-bottom: 30px;
}

.container__desc {
  width: 60%;
}

.container__imgs--thumb {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

/* Image selector */

.hide-img {
  display: none;
}

.container__imgs--small {
  width: 65px;
}

.thumb-active {
  border: 1px solid var(--tertiary-color);
  padding: 1px;
  box-sizing: border-box;
}
