.contact-block {
  width: 318px;
  height: 318px;
  box-sizing: border-box;
  margin: 5em auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-content {
  text-align: center;
  margin: 0 auto;

  p {
    font-size: 2.2rem;
    margin-bottom: 2em;
    line-height: 1.5;
  }

  span {
    text-transform: uppercase;
    font-weight: $weight-bold;
  }

  div {
    margin-bottom: 80px;
  }

  .button {
    font-size: $size-button;
    line-height: 0;
  }
}

ul {
  list-style: square;
}

.projects img {
  margin-bottom: 2em;
}

.slide-viewer {
  position: relative;
  overflow: hidden;
  height: 200px;
}

.slide-group {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;


  &:first-child {
    display: block;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 1s ease;
  }

  img:hover {
    transform: scale(1.1);
  }
}

.slide-buttons {
  width: 100%;
  margin: 0 auto;

  .slide-btn {
    background-color: lightgrey;
    margin: 1rem .2rem 2rem;
    border-radius: 50%;
    border: none;
    color: lightgrey;
    transition: 1s ease;
   }
   .active {
    background-color: grey;
    color: grey;
    
  }

  .slide-btn:hover {
    color: darkgrey;
    background-color: darkgrey;
  }
   
}




@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    justify-content: space-between;
  }
  .project-img--1 {
    width: 57%;
  }
  .project-aside {
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .chesney-project-img--1 {
    width: 48%;
  }
  .chesney-project-img--2 {
    width: 48%;
  }

  .slide-viewer {
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .project-description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .project-description__text {
    width: 48%;
  }

  .slide-viewer {
    height: 550px;
  }
}
@media screen and (min-width: 1800px) {
  .slide-viewer {
    height: 800px;
  }
}