@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Literata:opsz,wght@7..72,400;7..72,500&display=swap");




  $font-body: "Literata", sans-serif;

  $size-body: 1rem;
  $size-h1: 2.75rem;
  $size-h2: 2.38rem;
  $size-h3: 1.75rem;
  $size-h4: 1rem;
  $size-button: 1.4rem;
  $size-copyright: .75rem;

  $weight-body: 300;
  $weight-reg: 400;
  $weight-semi: 600;
  $weight-bold: 700;

  $line-body: 1.95rem;
  $line-h2: 3.5rem;
  $line-h3: 3rem;

a {
  text-decoration: none;
}

.link {
  text-decoration: underline;
  color: $primary-color;
}

.link:hover {
  font-weight: $weight-reg;
}

body {
  font-family: $font-body;
}

button,
.button {
  font-weight: $weight-semi;
  text-transform: uppercase;
  font-size: $size-button;
}

button {
  transition: all .5s ease;
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

button:active {
  transform: scale(.9);
}

.button:hover {
  text-decoration: underline;
  font-weight: $weight-bold;
}


.button img {
  width: 0.48em;
  margin-left: 1.5em;
}

h1,
h2 {
  font-family: "Literata", serif;
}

h1 {
  font-size: $size-h1;
  font-weight: 500;
  letter-spacing: -2px;

}

h2 {
  font-size: $size-h2;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 50px;
  margin-bottom: 1.5rem;
}

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: $size-h3;
  line-height: 40px;
  color: $primary-color;
  margin-bottom: 20px;
}

p {
  line-height: 20px;
  margin-bottom: 10px;
}


i {
  font-style: italic;
}

nav a {

  text-transform: uppercase;
}

nav a:hover {

  text-transform: uppercase;
}



ul {
  font-size: $size-body;
  font-weight: $weight-body;
  line-height: $line-body;
}
