header {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 60px;
}

.header-home {
  margin-bottom: 0px;
}

header h1 img {
  height: 58px;
  width: 280px;
  min-width: 280px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
}

nav .pages {
  width: 128px;
  margin: 0 auto;
}

nav .pages li {
  padding-bottom: 10px;
  margin: 0 auto;
}

nav .icons li {
  width: 18px;
  min-width: 18px;
  height: 18px;
  margin: 0 auto;
}

nav .icons {
  width: 128px;
  margin: 0 auto;
}

header,
.connect-block,
.contact-block {
  background-color: var(--orange);
}
nav .active {
  font-weight: var(--weight-bold);
}

@media screen and (min-width: 768px) {
  nav .icons {
    width: 248px;
    margin: 0 auto;
  }
  nav .icons li {
    width: 25px;
    min-width: 25px;
    height: 25px;
    margin: 0 auto;
  }
  nav .pages {
    width: 145px;
    margin: 0 auto;
  }

  nav {
    display: flex;
  }
}
